@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
h1.MainTitle a {
  color: blue;
  font-family: Minecraft;
  font-size: 40px;
  text-align: left;
  text-decoration: none;
  list-style: none;
  transition: all ease 0.3s;
  padding-bottom: 10px;
}

h1.MainTitle a:hover {
  color: deeppink;
}

header.HeaderFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 30px;
  margin: 20px;
  text-decoration: none;
}

header ol li {
  display: inline-block;
  list-style: none;
  align-content: normal;
  margin: 0 10px;
}

header ol li:last-child {
  margin-right: -15px;
}

header ol li a {
  text-decoration: none;
  transition: all ease 0.3s;
  font-family: Minecraft;
  font-size: 18px;
  color: blue;
  text-align: right;
  padding: 20px;
  width: 60px;
}

header ol li a:hover {
  color: deeppink;
}

.navbar {
  color: blue;
  text-decoration: none;
  font-family: Minecraft;
  font-size: 30px;
  transition: all ease 0.3s;
  padding: 20px;
  padding-top: 5px;
  z-index: 10;
}

.navbar a:hover {
  color: deeppink;
}

p {
  color: blue;
  font-family: Andale Mono;
  font-size: 16px;
  margin: 20px;
}

body {
  background-color: #E0E3FF;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
h2.SecondSecondTitleMain, h2.SecondTitleMain {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  color: blue;
  font-family: Minecraft;
  font-size: 120px;
  text-align: center;
  position: absolute;
}

h1.NumberTitleMain {
  display: flex;
  color: blue;
  font-family: Minecraft;
  font-size: 330px;
  text-align: left;
  padding-left: 5%;
  margin: 100px;
  position: relative;
  top: 5px;
  left: 10px;
}

h2.SecondTitleMain {
  top: 180px;
  right: 380px;
}

h2.SecondSecondTitleMain {
  top: 273px;
  right: 560px;
}

.carousel {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.carousel-control-prev-icon {
  background-image: url(../assets/images/n\ back\ \(1\).png);
}

.carousel-control-next-icon {
  background-image: url(../assets/images/n\ back\ \(2\).png);
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
.Options4, .Options3, .Options2, .Options1 {
  display: flex;
  column-gap: 1em;
  position: relative;
}

.Container #SubMain4, .Container #SubMain3, .Container #SubMain2, .Container #SubMain1 {
  display: flex;
  position: relative;
}

.Container {
  padding: 1em;
  display: grid;
  justify-content: end;
  grid-template-columns: 200px;
  grid-gap: 2em;
  margin: 10%;
}

.SubtitleMain {
  height: 105px;
  width: 100%;
  position: relative;
  background-color: blue;
  border-radius: 0 6px 6px 6px;
  padding: 0.25em 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.SubtitleMain:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: blue;
  position: absolute;
  top: -13px;
  left: -1px;
}

.Options1 {
  bottom: 310px;
  right: 200px;
}

.Options2 {
  bottom: 610px;
  right: 200px;
}

.Options3 {
  bottom: 910px;
  right: 630px;
}

.Options4 {
  bottom: 1250px;
  right: -60px;
}

h4.SubtitleMain {
  color: #c9d4f3;
  font-family: Andale Mono;
  font-size: 16px;
  margin: 20px;
}

.Container #SubMain1 {
  left: -450px;
  bottom: 190px;
}

.Container #SubMain2 {
  left: -680px;
  bottom: 490px;
}

.Container #SubMain3 {
  left: -450px;
  bottom: 790px;
}

.Container #SubMain4 {
  left: -190px;
  bottom: 1100px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
.Message, .Mail, .Name {
  display: flex;
  position: absolute;
  align-items: center;
  width: 30%;
  left: 10px;
}

.List4, .List3, .List2, .List1 {
  height: 105px;
  position: relative;
  background-color: #95b0f8;
  border-radius: 0 6px 6px 6px;
  border-style: solid;
  border-color: blue;
  padding: 0.25em 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  position: absolute;
}

.List4:before, .List3:before, .List2:before, .List1:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  border-style: solid;
  border-color: blue;
  background-color: #95b0f8;
  position: absolute;
  top: -13px;
  left: -1px;
}

input.DeleteButtonContact, input.SendButtonContact {
  align-items: center;
  background-color: blue;
  border: 2px solid blue;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: blue;
  font-family: Andale Mono;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  width: 310px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 20px;
}

textarea, input {
  width: 50%;
  padding: 12px;
  margin: 20px 0;
}

div.FormContactMessage, div.FormContactMail, div.FormContactName {
  color: blue;
  font-family: Andale Mono;
  font-size: 16px;
  margin: 20px;
  text-align: center;
  width: 50%;
  position: absolute;
}

.Contact {
  position: relative;
}

h1.ContactTitle {
  position: absolute;
  color: blue;
  font-family: Minecraft;
  font-size: 330px;
  text-align: right;
  bottom: -900px;
  right: 40px;
  padding: 10px;
}

.ContactText {
  position: relative;
  bottom: -150px;
  left: 10px;
  margin-right: 400px;
  margin-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2.SecondTitleContact {
  color: blue;
  font-family: Minecraft;
  font-size: 120px;
  text-align: left;
  position: absolute;
  top: 10px;
  margin-left: 100px;
}

div.FormContactName {
  bottom: 200px;
  left: 400px;
}

div.FormContactMail {
  bottom: 140px;
  left: 400px;
}

div.FormContactMessage {
  bottom: 60px;
  left: 400px;
}

h2.ThirdTitleContact {
  color: blue;
  font-family: Andale Mono;
  font-size: 20px;
  margin: 20px;
  font-weight: 600;
  text-align: left;
  position: relative;
  bottom: -130px;
}

input.SendButtonContact {
  bottom: -470px;
}

input.DeleteButtonContact {
  bottom: -550px;
}

.List1 {
  left: 650px;
  bottom: -80px;
}

.List2 {
  left: 450px;
  bottom: -160px;
}

.List3 {
  left: 310px;
  bottom: -240px;
}

.List4 {
  left: 210px;
  bottom: -320px;
}

.ContactFlex {
  text-decoration: none;
  list-style: none;
  position: absolute;
  top: 300px;
  left: 300px;
}

.ContactFlex li a:hover {
  list-style: none;
  color: #e1e8fc;
}

.ContactFlex a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 30px;
  margin: 20px;
  text-decoration: none;
  list-style: none;
  font-family: Minecraft;
  font-size: 26px;
  transition: all ease 0.3s;
  color: blue;
}

.form-label {
  font-family: Andale Mono;
  font-size: 18px;
  color: blue;
}

.Name {
  bottom: -170px;
}

.Mail {
  bottom: -270px;
}

.Message {
  bottom: -370px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
h2.SecondTitleAboutMe2, h2.SecondTitleAboutMe1 {
  position: relative;
  color: blue;
  font-family: Minecraft;
  font-size: 120px;
  text-align: center;
}

h1.AboutMeTitle {
  color: blue;
  font-family: Minecraft;
  font-size: 130px;
  text-align: center;
}

h2.SecondTitleAboutMe1 {
  left: 80px;
  bottom: 40px;
}

h2.SecondTitleAboutMe2 {
  left: 278px;
  bottom: 95px;
}

h1.numbertitleaboutme {
  display: flex;
  color: blue;
  font-family: Minecraft;
  font-size: 330px;
  text-align: center;
  justify-content: space-around;
  padding-left: 5%;
  margin: 0px;
  position: relative;
  top: 116px;
  left: 10px;
}

.AboutMe {
  display: flex;
  align-items: flex-start;
}

.AboutMeText {
  display: block;
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.AboutMePortrait img {
  position: relative;
  width: 400px;
  height: auto;
  right: 30px;
  bottom: -300px;
}

.AboutMeParagraph {
  position: relative;
  bottom: 80px;
  margin-left: 70px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
h1.UxuiTitle {
  color: blue;
  font-family: Minecraft;
  font-size: 100px;
  text-align: center;
}

h2.SecondTitleUxui {
  color: blue;
  font-family: Minecraft;
  font-size: 200px;
  text-align: center;
}

h4.SubtitleUxui {
  color: blue;
  font-family: Andale Mono;
  font-size: 16px;
  margin: 20px;
}

.Containeruxui {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ContainerUxUi #melete {
  height: 305px;
  width: 50%;
  font-family: Minecraft;
  font-size: 40px;
  color: aliceblue;
  position: relative;
  background-color: #95b0f8;
  border-radius: 0 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  left: 0px;
}

.ContainerUxUi #melete:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: #95b0f8;
  position: absolute;
  top: -13px;
  left: -1px;
}

.ContainerUxUi #gdr {
  height: 305px;
  width: 50%;
  position: relative;
  font-family: Minecraft;
  font-size: 40px;
  color: aliceblue;
  background-color: blue;
  border-radius: 0 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: -190px;
}

.ContainerUxUi #gdr:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  background-color: blue;
  position: absolute;
  top: -13px;
  left: -1px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
h2.SecondTitleVisualArt2, h2.SecondTitleVisualArt1, h1.VisualArtTitle {
  color: blue;
  font-family: Minecraft;
  position: absolute;
}

.ContainerVisual #trabajo2:before, .ContainerVisual #trabajo1:before {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 0 20px 0 0;
  position: absolute;
  top: -13px;
  left: -1px;
}

h1.VisualArtTitle {
  font-size: 200px;
  text-align: left;
  left: 30px;
  top: 200px;
}

h2.SecondTitleVisualArt1 {
  font-size: 100px;
  text-align: right;
  right: 380px;
  top: 250px;
}

h2.SecondTitleVisualArt2 {
  font-size: 100px;
  text-align: right;
  right: 370px;
  top: 350px;
}

.ContainerVisual #trabajo1 {
  height: 305px;
  width: 50%;
  font-family: Minecraft;
  font-size: 40px;
  color: aliceblue;
  position: relative;
  background-color: #95b0f8;
  border-radius: 0 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: -342px;
  left: 0px;
}

.ContainerVisual #trabajo1:before {
  background-color: #95b0f8;
}

.ContainerVisual #trabajo2 {
  height: 450px;
  width: 50%;
  position: relative;
  font-family: Minecraft;
  font-size: 40px;
  color: aliceblue;
  background-color: blue;
  border-radius: 0 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: -342px;
  left: 799px;
}

.ContainerVisual #trabajo2:before {
  background-color: blue;
}

.pvisualart {
  display: block;
  padding-right: 800px;
  position: absolute;
  top: 400px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
.FooterVisual, .FooterContact, .FooterUxUi {
  display: flex;
  position: absolute;
}

.FooterUxUi {
  bottom: -180px;
}

.FooterContact {
  bottom: -640px;
}

.FooterVisual {
  bottom: -320px;
}

@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .navicon {
    background-image: url(../assets/images/open-menu.png);
  }
  .navbar-toggler {
    border: none;
    border-radius: none;
    border-color: none;
  }
  .navbar > .container-fluid {
    justify-content: flex-end;
  }
  .navbar-nav {
    align-items: flex-end;
  }
  /* about me mobile */
  h1.numbertitleaboutme {
    font-size: 150px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    top: 56px;
  }
  h2.SecondTitleAboutMe1 {
    font-size: 80px;
    display: flex;
    position: relative;
    top: -26px;
    right: 30px;
  }
  h2.SecondTitleAboutMe2 {
    font-size: 80px;
    display: flex;
    position: relative;
    top: -80px;
    right: 30px;
  }
  .AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .AboutMeParagraph {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .AboutMePortrait img {
    position: relative;
    width: 500px;
    height: auto;
    margin-right: -10px;
    bottom: 30px;
  }
  .AboutMeFolder {
    width: 20%;
    position: absolute;
    left: 50px;
    bottom: -1520px;
  }
  /* ux ui mobile */
  .ContainerUxUi #gdr {
    position: relative;
    height: 350px;
    width: 224%;
    bottom: -40px;
    left: -248px;
  }
  .ContainerUxUi #melete {
    position: relative;
    height: 350px;
    width: 297%;
    bottom: -100px;
    left: -282px;
  }
  .FooterUxUi p {
    display: flex;
    position: relative;
    bottom: -370px;
    color: #c9d4f3;
  }
  /* index */
  .mobile-img {
    display: block;
  }
  .desktop-img {
    display: none !important;
  }
  /* visuales */
  .ContainerVisual #trabajo1 {
    position: relative;
    height: 350px;
    width: 100%;
    bottom: -10px;
  }
  .ContainerVisual #trabajo2 {
    position: relative;
    height: 350px;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
  .ContainerVisual #trabajo3 {
    position: relative;
    height: 400px;
    width: 100%;
    bottom: 8px;
    left: 0px;
  }
  .FooterVisual p {
    display: flex;
    position: relative;
    bottom: -990px;
    color: #c9d4f3;
  }
  h1.VisualArtTitle {
    position: relative;
    font-size: 200px;
    top: 30px;
  }
  h2.SecondTitleVisualArt1 {
    position: relative;
    font-size: 130px;
    left: -120px;
    top: 10px;
  }
  h2.SecondTitleVisualArt2 {
    position: relative;
    font-size: 100px;
    left: -100px;
    top: -160px;
  }
  p.pvisualart {
    position: relative;
    padding-right: 70px;
    left: 0px;
    top: 90px;
  }
  /* contacto */
  .ContactTitle {
    position: relative;
    font-size: 60px;
    left: 30px;
    top: 130px;
  }
  .SecondTitleContact {
    position: relative;
    font-size: 60px;
    left: -50px;
    top: 30px;
  }
  .ContactText {
    position: relative;
    font-size: 20px;
    padding-right: 30px;
    left: 0px;
    top: 430px;
    margin: 30px;
  }
  .List1 {
    position: relative;
    left: -70px;
    top: 360px;
  }
  .List2 {
    position: relative;
    left: -70px;
    top: 360px;
  }
  .List3 {
    position: relative;
    left: -70px;
    top: 360px;
  }
  .List4 {
    position: relative;
    left: -70px;
    top: 360px;
  }
  .ThirdTitleContact {
    position: relative;
    left: 7px;
    top: 790px;
    text-align: center;
  }
  .Name {
    position: relative;
    left: 270px;
    top: 799px;
  }
  .Mail {
    position: relative;
    left: 34px;
    top: 900px;
  }
  .Message {
    position: relative;
    left: -200px;
    top: 1000px;
  }
  input.SendButtonContact {
    position: relative;
    left: 220px;
    top: 1020px;
  }
  input.DeleteButtonContact {
    position: relative;
    left: 220px;
    top: 1000px;
  }
  .FooterContact {
    position: relative;
    bottom: -990px;
  }
}
@media (min-width: 769px) {
  /* solo para el carousel */
  .mobile-img {
    display: none !important;
  }
  .desktop-img {
    display: block;
  }
}
@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}
@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}

/*# sourceMappingURL=styles.css.map */
