@import "variables";

%flexnposition {
    display: flex;
    position: absolute;
}

.FooterUxUi {
    @extend %flexnposition;
    bottom: -180px;
}

.FooterContact {
    @extend %flexnposition;
    bottom: -640px;
}

.FooterVisual {
    @extend %flexnposition;
    bottom: -320px;
}