@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}

@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}

%flexnposition {
    display: flex;
    position: absolute;
}

.FooterUxUi {
    @extend %flexnposition;
    bottom: 0px;
}

.FooterContact {
    @extend %flexnposition;
    bottom: -490px;
}

.FooterVisual {
    @extend %flexnposition;
    bottom: -20px;
}