@import "variables";

%title {
    position: relative;
    color: $fontcolor;
    font-family: $fontfamily;
    font-size: 120px;
    text-align: center;
}


h1.AboutMeTitle {
    color: $fontcolor;
    font-family: $fontfamily;
    font-size: 130px;
    text-align: center;
}

h2.SecondTitleAboutMe1 {
    @extend %title;
    left: 80px;
    bottom: 40px;
}

h2.SecondTitleAboutMe2 {
    @extend %title;
    left: 278px;
    bottom: 95px;
}

h1.numbertitleaboutme {
    display: flex;
    color: $fontcolor;
    font-family: $fontfamily;
    font-size: 330px;
    text-align: center;
    justify-content: space-around;
    padding-left: 5%;
    margin: 0px;
    position: relative;
    top: 116px;
    left: 10px;
}

.AboutMe {
    display: flex;
    align-items: flex-start;
}

.AboutMeText {
    display: block;
    margin-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.AboutMePortrait img {
    position: relative;
    width: 400px;
    height: auto;
    right: 30px;
    bottom: -300px;
}

.AboutMeParagraph {
    position: relative;
    bottom: 80px;
    margin-left: 70px;
}


