@font-face {
  font-family: "Minecraft";
  src: url(../assets/fonts/Minecraft.ttf);
}

@font-face {
  font-family: "Andale Mono";
  src: url(../assets/fonts/andalemo.ttf);
}

$fontfamily: Minecraft;
$fontfamily1: Andale Mono;
$fontcolor: blue;